body {
    background-color: #edd089;
    font-family: 'Lato', sans-serif;
    color: #333333;
}

header {
    background-color: #402b00;
    text-align: center;
    -webkit-box-shadow: 0 2px 4px 1px #593c01;
    box-shadow: 0 2px 4px 1px #593c01;
}

#logo {
    width: 15%;
}

h2 {
    color: #cda349;
    font-family: 'Roboto', sans-serif;
}

.tk-quimby-mayoral {
    color: #0040b2;
    font-family: quimby-mayoral, sans-serif;
    font-style: normal;
    font-weight: 400;
}

.typography {
    background-color: white;
}

li {
    list-style: none;
}
