* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #edd089;
    font-family: 'Lato', sans-serif;
    color: #333333;
}

header {
    background-color: #402b00;
    text-align: center;
    -webkit-box-shadow: 0 2px 4px 1px #593c01;
    box-shadow: 0 2px 1px 1px #593c01;
    position: relative;
}

#logo {
    width: 15%;
    max-width: 115px;
}

h2 {
    color: #cda349;
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
    padding-bottom: 2%;
}

.tk-quimby-mayoral {
    color: #0040b2;
    font-family: quimby-mayoral, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 2rem;
    padding-top: 2%;
}

.typography {
    background-color: white;
    padding: 2%;
}

.typography p {
    padding-bottom: 4%;
}

.typography p a {
    text-decoration: none;
    color: #cda349;
}

.typography p a:hover {
    border-bottom: 2px #cda349 dotted;
}

.button {
    display: inline-block;
    width: 49%;
    text-align: center;
}

.button img {
    width: 100%;
    max-width: 200px;
}

.button a {
    text-decoration: none;
    color: white;
}

.button a p {
    position: relative;
    top: -35px;
}

.button a:hover p,
.button a:active p {
    text-shadow: 2px 2px 3px #2e2202;
}

.button a:active p {
    color: #402b00;
}

li {
    list-style: none;
}

.colors {
    text-align: center;
    padding: 2%;
}

.colors li {
    width: 45%;
    padding: 1%;
    display: inline-block;
}

.colors li img {
    width: 100%;
    -webkit-box-shadow: 1px 1px 1px 0 #303030;
    box-shadow: 1px 1px 1px 0 #303030;
}

.details {
    text-align: center;
    padding: 2%;
}

.details li.a,
.details li.b {
    width: 45%;
    padding: 1%;
    display: inline-block;
}

.details li.c img {
    width: 92%;
    margin: 2%;
}

.details li img {
    width: 100%;
    background-color: white;
}

@media (min-width: 700px) {
    .typography {
        float: left;
        position: absolute;
        width: 50%;
        margin-top: 3%;
        margin-left: 3%;
    }
    .swatches {
        width: 43%;
        float: right;
        position: relative;
        margin-top: 2%;
    }
    .colors li {
        width: calc(100% / 5);
        padding: 2%;
    }
}

@media (min-width: 1000px) {
    .colors {
        float: left;
        width: 17%;
        padding-left: 17px;
        padding-top: 10px;
    }
    .colors li {
        width: 100%;
        padding: 0;
    }
    .details {
        width: 75%;
        float: right;
        padding: 1%;
    }
}
